Package: otis-theme
Version: 1.0.1
Section: utils
Priority: optional
Architecture: amd64
Depends: plymouth
Maintainer: Jefferson Silva de Souza <jeff.silvadsouza@gmail.com>
Description: Tema do Otis (GTK + Plymouth)
