Package: otis-theme
Version: 2.0.0
Section: utils
Priority: optional
Architecture: amd64
Depends: plymouth, plymouth-themes
Maintainer: Jefferson Silva de Souza <jeff.silvadsouza@gmail.com>
Description: Tema do Otis (GTK + Plymouth)
